.button_plus {
    position: absolute;
    width: 35px;
    height: 35px;
    background: #08AD52;
    cursor: pointer;
    border: 2px solid #08AD52;
    border-radius: 50%;
  }
  
  .button_plus:after {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    height: 4px;
    width: 50%;
    background: #ffffff;
    top: 50%;
    left: 50%;
  }
  
  .button_plus:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    height: 50%;
    width: 4px;
  }
  
  .button_plus:hover:before,
  .button_plus:hover:after {
    background: #fff;
    transition: 0.2s;
  }
  
  .button_plus:hover {
    background-color: #095776;
    transition: 0.2s;
  }

  .button_minus {
    position: absolute;
    width: 35px;
    height: 35px;
    background: #B90000;
    cursor: pointer;
    border: 2px solid #B90000;
    border-radius: 50%;
  }

  .button_minus:after {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    height: 4px;
    width: 50%;
    background: #ffffff;
    top: 50%;
    left: 50%;
  }
  